[build]
  base = ""
  publish = "public/"
  # Default build command.
  command = "yarn run build"

[[headers]]
  for = "/*"

  [headers.values]
    cache-control = '''
    max-age=0,
    no-cache,
    no-store,
    must-revalidate'''

[[plugins]]
  package = "@netlify/plugin-sitemap"

  [plugins.inputs]
    buildDir = "public"
    prettyURLs = true
    exclude = [
      # By file Path
      '**/**/styleguide/**/*.html',
      '**/**/styleguide/design/*.html',
      '**/**/offline-plugin-app-shell-fallback/*.html',
      './public/offline-plugin-app-shell-fallback/index.html'
    ]

[[plugins]]
  package = "netlify-plugin-inline-critical-css"

  # All inputs are optional, so you can omit this section.
  # Defaults are shown below.
  # You can also refer to `critical`’s documentation: https://github.com/addyosmani/critical.
  [plugins.inputs]
    # Whether to remove the inlined styles from any stylesheets referenced in the HTML. Use with caution. Removing the critical CSS per page results in a unique async loaded CSS file for every page, meaning you can’t rely on cache across multiple pages.
    extract = false

    dimensions = [
      { width = 414, height = 896 },
      { width = 1920, height = 1080 }
    ]

[[plugins]]
  package = "netlify-plugin-submit-sitemap"

	[plugins.inputs]

	# The base url of your site (optional, default = main URL set in Netlify)
	baseUrl = "https://www.kcvvelewijt.be"

	# Path to the sitemap URL (optional, default = /sitemap.xml)
	sitemapPath = "/sitemap.xml"

	# Enabled providers to submit sitemap to (optional, default = 'google', 'bing'). Possible providers are currently only 'google' and 'bing'.
	providers = [
		"google",
		"bing"
	]
