@import '../styles/_mixins';

.card--has-table {
  .card__content {
    padding: 0;
  }
}

.card {
  margin-bottom: 2em;
}

.cardItem {
  background: #FFF;
  border-radius: 4px;
  margin-bottom: 1.5rem;

  @include break(medium-up) {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0;
  }

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  main {
    padding: 1.5rem 1.25rem 0;
  }

  a {
    img {
      transition: transform .5s ease !important;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__heading {
    h3 {
      color: var(--color-black);
      font-size: 1.25rem;
    }
  }

  &__summary {
    color: var(--color-black);
    font-size: 1rem;

    @include break(medium-up) {
      margin-bottom: 3rem;
    }
  }

  &__footer {
    font-size: .875rem;
    padding: 1.5rem 1.25rem 1rem;
  }

  &--image,
  &--vertical {
    position: relative;

    .cardItem {
      &__heading {
        color: #FFF;

        bottom: 0;
        left: 0;
        padding: 1.5rem 1.25rem 1rem;
        position: absolute;
        right: 0;
        z-index: 5;

        h3 {
          color: #FFF;
          font-size: 1.25rem;
          line-height: 1.2rem;
          font-weight: 600;
          text-transform: uppercase;

          @include break(medium-up) {
            font-size: 2rem;
            line-height: 1.875rem;
          }

          &+div {
            display: none;

            @include break(medium-up) {
              display: block;
            }
          }
        }

        @include featured-border;
      }
    }
  }
}
