@import '../styles/mixins';

.match__teasers {
  margin: 0 .25rem 2rem;
  position: relative;
  z-index: 2;
  line-height: 1;

  @include break(medium-up) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    line-height: 1.5;
  }

  @include break(large-up) {
    margin: 0 1rem 2rem;
  }

  @include break(xlarge-up) {
    margin: 0 14% 2rem;
  }
}

.match__teaser {
  background: #FFF;
  display: block;
  padding: 1em;
  font-family: "Montserrat", Verdana, sans-serif;
  font-weight: 700;

  header {
    line-height: 1.2em;
    margin-bottom: .75em;
    text-align: center;
    text-transform: uppercase;
  }

  h2,
  h3 {
    font-size: 1.2rem;
  }

  main {
    color: var(--color-gray-medium);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .ranking__wrapper {
    margin-top: 1em;

    table {
      font-family: 'Source Sans Pro', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }
}

.match__teaser__status {}

.match__teaser__datetime {
  display: block;
  letter-spacing: -.02em;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;

  &--date {
    color: var(--color-gray-light);
    font-size: .75rem;
  }

  &--time {
    color: var(--color-gray-medium);
    font-size: 1.25rem;
  }

  &--status {
    color: var(--color-gray-medium);
    font-size: 1.25rem;
    letter-spacing: -.02em;
    line-height: 1.2em;
  }
}

.match__teaser__team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 35%;
}

.match__teaser__vs {
  margin: 0 1%;
  width: 28%;

  font-family: var(--font-title);
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: -.04em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-green-dark);

  &--score {
    color: var(--color-gray-light);
    font-size: 1.25rem;
    background: linear-gradient(55deg, #FFF 50%, var(--color-green-dark) 50%);
    display: flex;
    position: relative;
    justify-content: space-evenly;

    &::before {
      content: '';
      position: absolute;

      left: -3px;
      right: -3px;
      top: -3px;
      bottom: -3px;

      border: 1px solid var(--color-green-dark);
    }

    &--home {
      color: var(--color-green-dark);
    }

    &--away {
      color: #FFF;
    }

    #team-matches & {
      font-size: 1.875rem;
    }
  }
}
