@import '../styles/mixins';

.ranking__wrapper {
  margin: 0 .25rem 2rem;
  position: relative;
  z-index: 2;

  @include break(large-up) {
    margin: 0 1rem 2rem;
  }

  @include break(xlarge-up) {
    margin: 0 14% 2rem;
  }
}
