@import '../styles/_mixins';

.category {
    &__wrapper {
        position: relative;

        h1 {
            color: #FFF;
        }

        .player-break {
            padding-top: 100px;
        }

        .news_overview__summary {
            margin: 0;
        }

        .player-detail__name {
            @include break(medium-up) {
                top: 1.5rem;
            }
        }
    }

    &__content_wrapper {
        position: relative;
        min-height: 320px;
        z-index: 3;
    }

    &__content_row {
        background: #FFF;
        border: 1px solid var(--color-gray-light);
        margin: 0 -1rem 2rem;
        padding: 1rem;

        @include break(medium-up) {
            img {
                width: 100%;
            }

            display: grid;
            grid-template-columns: 125px 1fr;
            grid-gap: 1rem;
        }
    }

    &__content_link {
        img {
            transition: all 0.5s !important;
        }

        &:hover {
            img {
                transform: scale(1.1);

            }
        }
    }
}
