.archive {
    &__wrapper {
        margin-bottom: 1rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__navigation_wrapper {
        border-top: 1px solid var(--color-gray-light);
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 1.5rem;
        padding-top: 1.5rem;
        width: 100%;
    }

    &__navigation {
        &--next {
            text-align: right;
        }
    }

    &__filter_wrapper {
        margin: 1rem 0 2rem;
        width: 100%;
    }

    &__filter_filters {
        .btn {
            margin: .25rem;
        }
    }
}
