@import '~foundation-sites/scss/util/util';

.lineup__wrapper,
.event_wrapper {
  margin-bottom: 2em;
}

.event__row {
  &--home {
    &.grid-x {
      flex-direction: row-reverse;

      @include breakpoint(large up) {
        flex-direction: row;
      }
    }

    .event__row__item--away {
      display: none;
    }
  }

  &--away {
    &.grid-x {
      justify-content: flex-end;
    }

    .event__row__item--home {
      display: none;
    }
  }
}

.event__row__item {
  &--home {
    &.lineup__item--name {
      @include breakpoint(large up) {
        text-align: right;
      }
    }
  }
}

.lineup__item {

  &--status,
  &--action {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
