.games__template {
  @extend .grid-container;
  @extend .site-content;

  padding: 2rem 1rem;

  @media(min-width: 61rem) {
    padding-left: 0;
    padding-right: 0;
  }

  .match-details__logo {
    margin-bottom: .5rem;
    width: 50px;
    height: auto;
    max-height: unset;

    &--home {
      @media(min-width: 61rem) {
        &+.match-details__teamname {
          text-align: right;
        }
      }
    }

    &--away {
      @media(min-width: 61rem) {
        &+.match-details__teamname {
          text-align: left;
        }
      }
    }
  }

  .match-details__inner {
    @include break(medium-up) {
      display: grid;
      grid-template-columns: 1fr 2fr
    }
  }

  .match-details {

    header,
    .match-details__datetime {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include break(medium-up) {
        text-align: right;
      }
    }

    h5 {
      margin: 0;
    }
  }

  .match-details__vs {
    text-shadow: none;
    font-family: $body-font-family;

    width: 50px;
    margin: 0;
    text-align: center;

    // background: var(--color-gray-light);
    // color: #FFF;
    font-size: 1rem;
    line-height: 1.75rem;
  }

  // .match-details__divider {
  // color: #FFF;
  // }

  // .match-details__winner {
  //   color: #FFF;

  //   &::before {
  //     display: none;
  //   }
  // }

  @media(min-width: 61rem) {
    .match-details__lineup-inner {

      flex-direction: row;
      justify-content: space-between;

      .match-details__teamname {
        height: unset;
        margin-right: 1.5rem;
      }
    }
  }
}

.match-details__vs~.match-details__lineup-inner img {
  @media(min-width: 61rem) {
    order: 2;
  }
}

.match-details__vs~.match-details__lineup-inner .match-details__teamname {
  @media(min-width: 61rem) {
    margin-left: 0;
    margin-right: 0;
  }
}
