.games__template {
    margin: 0 auto;
    max-width: 60rem;
    padding-top: 2rem;

    .match-details__logo {
        max-height: 100px;
    }

    .match-details__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .match-details {
        header, .match-details__datetime {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: right;
        }
    }
}
