.gradient {
    background: linear-gradient(185deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, .9) 80%);
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    bottom: 0;

    &--70 {
        height: 70%;
    }
}
