.news_overview {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        grid-auto-flow: dense;
        list-style: none;
        padding: 0;
    }

    &__article {
        border: 1px solid #ccc;
        &.featured {
            grid-column-end: span 2;
        }

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
         }
    }

}
