
.label {
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
