
.site-content {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.featured__matches {
    @include break(medium-up) {
        margin-top: 1.5rem;
    }
    @include break(large-up) {
        margin-top: 0;
    }
}

// @media (min-width: 992px) {
    .player-break {
        display: block;
        padding-top: 410px;
    }
// }

.display-desktop {
    display: none;
    @include break(medium-up) {
        display: block;
    }
}

.display-mobile {
    display: block;
    @include break(medium-up) {
        display: none;
    }
}
