@mixin readmore-link {
    a {
        display: block;
        text-align: right;

        &:after {
            display: inline-block;
            content: url('../images/arrow-dark.svg');
            margin: 0 .25em;
            height: 1em;
            transform: translateX(0);
            width: 1em;
            transition: all .25s ease-out;
        }

        &:hover {
            &:after {
                transform: translateX(2px);
            }
        }
    }
}

@mixin break($media) {
    @if $media==medium-up {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }

    @else if $media==large-up {
        @media only screen and (min-width: 992px) {
            @content;
        }
    }

    @if $media==xlarge-up {
        @media only screen and (min-width: 1200px) {
            @content;
        }
    }
}

@mixin featured-border {
    &::before {
        content: ' ';
        display: block;
        width: 4rem;
        border-top: 2px solid var(--color-green-dark);
        margin-bottom: 10px;
    }
}

@mixin after-border($length: 24px) {
    margin-bottom: 1rem;
    position: relative;

    &::after {
        border-top: 2px solid #4B9B48;
        position: absolute;
        width: $length;
        bottom: -8px;
        left: 0;
        content: '';
    }
}

@mixin block-quote {
    &::before {
        color: var(--color-green);
        font-size: 15rem;
        line-height: .8;

        content: '\201C';

        float: left;
        margin-bottom: -6rem;
        margin-left: -.5rem;
        overflow: hidden;
    }

    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1;

    border: 0;
    margin: 2rem 0;
    padding: 0;
    overflow: hidden;

    &,
    p {
        color: var(--color-gray-dark);
        line-height: 1.25;
    }

    p {
        padding-left: 6rem;
    }

    @include break(medium-up) {
        // margin-left: -5rem;
        // margin-right: -5rem;
    }
}
