html {
  --maxWidth: 1600px;
  --gap: 3rem;
  scrollbar-color: #666 #201c29;
  color: #fff;
  overflow-x: hidden;
  --featured-img: linear-gradient(180deg, #fff, #262626);
  --bg-blend-mode: overlay;
  background-color: #d2d2d2;
  background-position: top 58px center;
  background-repeat: no-repeat;
  background-image: radial-gradient(50% 50% at top center, rgba(255, 255, 255, 0.66), #d2d2d2), var(--featured-img);
  background-size: 120% 2000px, 100% 2000px;
}

@media (max-width: 1200px) {
  html {
    --gap: 2rem;
  }
}

@media (max-width: 800px) {
  html {
    --gap: 1rem;
  }
}
