:root {
  --margin-hero--mobile: 5vh;
  --margin-hero--desktop: 10vh;
}

.frontpage__wrapper {
  position: relative;
  z-index: 1;
  background-color: transparent;

  margin-bottom: var(--margin-hero--mobile);

  @media screen and (min-width: 60rem) {
    margin-bottom: var(--margin-hero--desktop);
  }
}

.frontpage__hero {
  background: var(--color-green--bright);
  background-image: url('../images/header-pattern.png');
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-position: 50% -7vw;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
  padding: 0px 0 10px;

  @media screen and (min-width: 60rem) {
    min-height: calc(7.5rem + 250px);
  }
}

.frontpage__hero__inner {
  margin-bottom: calc(-1 * var(--margin-hero--mobile));
  padding: 0 var(--padding--mobile);

  @media screen and (min-width: 60rem) {
    padding: 0 var(--padding--desktop);
    margin-bottom: calc(-1 * var(--margin-hero--desktop));
  }
}

.frontpage__hero__container {
  max-width: var(--max-width--outer);
  margin: 0 auto;
  position: relative;
}

.frontpage__hero__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;

  @media screen and (min-width: 60rem) {
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 2.5rem;
  }

  >div:last-child {
    grid-column-end: span 1;
  }

}

.frontpage__matches_carousel {
  clear: both;
  background: #000;
  color: #FFF;
  // margin-top: 6rem;
  padding: 1rem;


  main {
    scroll-snap-type: x mandatory;
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;

    @media screen and (min-width: 60rem) {
      scroll-snap-type: none;
      -webkit-overflow-scrolling: none;
      overflow-x: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      grid-auto-rows: 1fr;
    }
  }
}

.frontpage__matches_carousel_item {
  margin: 0;
  padding: 0;
  min-width: 100%;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  background: var(--color-black);

  display: grid;
  grid-template-rows: 1fr 4fr 1fr;

  // @media screen and (min-width: 60rem) {
  //   padding: 1rem;
  // }

  &--b {
    order: 1;

    @media screen and (min-width: 60rem) {
      order: 0;
    }
  }

  &--a {
    order: 0;

    @media screen and (min-width: 60rem) {
      order: 1;
    }
  }

  &--youth {
    order: 2;

    @media screen and (min-width: 60rem) {}
  }

  @media screen and (min-width: 60rem) {
    min-width: revert;
    scroll-snap-align: revert;
  }
}

.frontpage__matches_carousel_item__header {
  color: var(--color-green--bright);
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid var(--color-green--bright);
  text-transform: uppercase;
}

.frontpage__matches_carousel_item__footer {
  border-top: 1px solid var(--color-green--bright);
}

.frontpage__hero__article {
  grid-column-end: span 1;
  padding: 0;

  @media screen and (min-width: 60rem) {
    height: 100%;
  }
}

.frontpage__hero__article__inner {
  position: relative;
  display: grid;
  // padding-top: 25px;
  // padding-bottom: 25px;
  text-decoration: none;

  @media screen and (min-width: 60rem) {
    display: flex;
    align-items: center;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
  }

  header {
    flex: initial;
    order: 2;
    margin-top: -1.5rem;
    z-index: 4;

    @media screen and (min-width: 60rem) {
      order: revert;
      width: 31%;
      margin-top: revert;
    }

    h3 {
      background-color: var(--color-green--bright);
      display: inline-block;
      color: #FFF;
      font-size: .8rem;
      font-weight: 400;
      line-height: 1.5;
      text-transform: uppercase;
      padding: 0 1rem;
      margin: 0;
      vertical-align: bottom;

      @media screen and (min-width: 60rem) {
        position: static;
        padding: 3px 5px 0 0;
        color: #fff;
        line-height: 1;
        width: 90%;
        background-color: initial;
      }
    }
  }

  .gatsby-image-wrapper {
    display: block;

    @media screen and (min-width: 60rem) {
      flex: 1 1 77%;
    }
  }

}

.frontpage__hero__article__title {
  position: relative;
  z-index: 1;
  width: calc(100vw - (2 * var(--padding--mobile)));
  margin-top: 0;
  overflow: visible;

  @media screen and (min-width: 60rem) {
    margin-top: 15px;
    padding-right: 20px;
    width: 300%;
  }

  h2 {
    font-family: Palace Main, Impact, arial, sans‑serif;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    line-height: 1;
    background-color: var(--color-green--dark);
    color: #fff;
    padding: .5rem 1rem;


    @media screen and (min-width: 60rem) {
      display: inline;
      padding-inline: 10px 20px;
      box-decoration-break: clone;
      // box-shadow: -2px 2px 0 2px var(--color-green--bright);
      // font-size: 36px;
      line-height: 1.5;
    }

  }
}
