.input__input {
  background-color: #FFF;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  padding: 2px 8px;

  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  min-height: 38px;
  outline: 0 !important;
  box-sizing: border-box;
  color: hsl(0, 0%, 20%);
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
