.featured__news {
}

.featured__news-item {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.featured__news-item__inner {
  border: 1px solid var(--color-gray-light);
  height: 367px;

  a {
    height: auto;
  }
}

.img-holder {
  width: 100%;
  float: left;
  height: auto;
  position: relative;

  &:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: 42.55319%;
  }

  img {
    float: left;
    max-width: 100%;
  }
}
