.footer-social-media {
    color: #FFF;
    a {
        color: #FFF;
        img {
            transition: all 0.5s !important;
        }
        &:hover {
            color: var(--color-green);
            img {
                transform: scale(1.1);
            }
        }
    }
}

.posts__item--category {
    &--facebook {
        .label {
            background-color: var(--color-facebook);
        }
    }
    &--instagram {
        .label {
            background-color: var(--color-instagram);
        }
    }
}
