.hero-slider__item {
    background-image: url('../images/kcvv-team.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 320px;
    @media (min-width: 767px) {
        height: 480px;
    }
    @media (min-width: 992px) {
        height: 640px;
    }
    @media (min-width: 1200px) {
        height: 720px;
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        opacity: 0.6;
        z-index: 2;
    }

    .page-heading__title {
        margin-top: 1rem;
        @media (max-width: 1023px) {
            line-height: 1;
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}

.hero-slider__item-container {
    display: block;
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.post__meta, .post-author {
    display: none;
    @media (min-width: 1024px) {
        display: block;
    }
}
