.matches__wrapper {
  margin-top: var(--margin-hero--mobile);

  @media screen and (min-width: 60rem) {
    margin-top: var(--margin-hero--desktop);
  }
}

.matches__row {
  border-bottom: 1px solid var(--color-green--bright--alpha--25);
  overflow: hidden;
  padding: .75rem;

  @media screen and (min-width: 60rem) {}
}

.matches__match {
  position: relative;
  grid-gap: 5px;
  grid-template-areas: "team vs""date vs""title title";
  grid-template-columns: 1fr auto;
  display: grid;

  @media screen and (min-width: 60rem) {
    grid-template-areas: "title title""team date""btns btns";
    grid-gap: 15px;
    grid-column-gap: 24px;
    grid-row-gap: 4px;
    grid-template-areas: "date homeTeam vs awayTeam btns""title homeTeam vs awayTeam btns";
    grid-template-columns: 230px 1fr auto 1fr 230px;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
  }

  @media screen and (min-width: 90rem) {
    grid-template-columns: 250px 1fr auto 1fr 250px
  }
}

.matches__competition__wrapper {
  grid-area: title;
  display: flex;
  flex-wrap: wrap;
}

.matches__competition__type {
  font-size: .875rem;
  color: var(--color-gray--medium);
}

.matches__date__wrapper {
  grid-area: date;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.14;
  text-transform: uppercase;
  display: flex;

  @media screen and (min-width: 60rem) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.matches__date__date {
  +.matches__date__time {
    margin-left: .5rem;
  }
}

.matches__date__time {}

.matches__team__wrapper {
  grid-area: team;
  grid-gap: 12px;
  grid-template-areas: "logo title";
  grid-template-columns: 44px auto;
  display: grid;
  align-items: center;
  margin-right: 16px;
  margin-bottom: 10px;

  @media screen and (min-width: 60rem) {
    margin-right: 0;
    margin-bottom: 0;
    grid-area: awayTeam;
    grid-gap: 16px;
    grid-template-columns: 48px auto;
    justify-content: space-between;
    margin: 0 auto 0 0;
  }

  &--home {
    @media screen and (min-width: 60rem) {
      grid-area: homeTeam;
      grid-template-areas: "title logo";
      grid-template-columns: auto 48px;
      margin: 0 0 0 auto;
      text-align: right;
    }
  }

  &--away {
    @media screen and (min-width: 60rem) {}
  }

  &--elewijt {
    @media screen and (max-width: 60rem) {
      display: none;
    }
  }
}

.matches__team__name {
  grid-area: title;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.13;
}

.matches__team__home_indicator {
  @media screen and (min-width: 60rem) {
    display: none;
  }
}

.matches__team__logo {
  grid-area: logo;
  width: 44px;
  height: 44px;
}

.matches__score__wrapper {
  grid-area: vs;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.matches__score {
  font-family: var(--font-alt);
  color: var(--color-green--bright);
  font-size: 2rem;

  grid-area: vs;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;

  @media screen and (min-width: 60rem) {
    width: 6rem;
    font-size: 3rem;
    text-align: center;
  }

  &--score {}

  &--vs {
    @media screen and (min-width: 60rem) {
      margin: .5rem 0;
      // color: #FFF;
      display: inline-block;
      padding: .25rem .5rem;
      border-radius: .25rem;
      // background-color: var(--color-green--bright);
      align-self: center;
      text-align: center;
      font-size: 2rem;
      margin: 0;
    }
  }

  &--status {
    margin: .5rem 0;
    color: #FFF;
    display: inline-block;
    padding: .25rem .5rem;
    border-radius: .25rem;
    background-color: var(--color-green--bright);
    align-self: center;

    @media screen and (min-width: 60rem) {
      text-align: center;
      font-size: 2rem;
      margin: 0;
    }
  }
}

.matches__score_result {
  min-width: 74px;
  margin-top: 8px;
  padding: 1px 20px 0;
  background-color: #e4e4e4;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;

  &--win {
    background: #8dba62;
  }

  &--loss {
    background: #ff5538;
  }

  &--draw {
    background: #ffcb1e;
  }
}

.matches__info__wrapper {
  display: none;

  @media screen and (min-width: 60rem) {
    grid-area: btns;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
