.matchesSlider--wrapper {
    background: white;
    padding: 2em 0;
    .slick-slide {
        border-image: linear-gradient(to right, var(--color-green-dark) 0%, rgba(255, 255, 255, 0.0) 85%);
        border-image-slice: 1;
        border-width: 1px;
        border-right: 0;
    }
}

.matchesSlider {
    .slick-arrow {
        background: var(--color-green-dark);
        height: 100px;
        width: 50px;
        transition: all 0.5s;
        &:before {
            opacity: 1;
        }
        &:hover {
            width: 75px;
        }
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
}

.matchesSlider__item {
    padding: 0 1em;
}

.matchesSlider__item--inner {
    // border: 1px solid var(--color-green-dark);
    padding: 1em;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    h5 {
        line-height: 1.2em;
        margin-bottom: .75em;
        text-align: center;
        text-transform: uppercase;
    }
    .matches__meta__datetime {
        color: var(--color-gray-light);
        display: block;
        letter-spacing: -.02em;
        line-height: 1.2em;
        text-align: center;
        text-transform: uppercase;
        &--date {
            font-size: .75rem;
        }
        &--time {
            color: var(--color-gray-medium);
            font-size: 1.25rem;
        }
    }
}

.matchesSlider__item__logo {
    height: auto;
    width: 100px;
}

.matches__meta__logos {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.matches__meta__logos__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.matches__meta__teamname {
    font-size: .85rem;
    height: 2em;
    text-align: center;
    color: var(--color-gray-medium);
}
