@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.matchesSlider--wrapper {
  background: white;
  padding: 2em 0;

  .slick-slide {
    padding: .5rem;

    article {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      margin-bottom: 20px;
    }
  }
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}

.matchesSlider {
  .slick-arrow {
    background: var(--color-green-dark);
    height: 100px;
    width: 50px;
    transition: all 0.5s;

    &::before {
      opacity: 1;
    }

    &:hover {
      width: 75px;
    }
  }

  .slick-prev {
    left: 0;
    z-index: 5;
  }

  .slick-next {
    right: 0;
    z-index: 5;
  }

  .match-details__logo {
    max-height: 100px;
  }
}

.matchesSlider__item {
  padding: 0 1em;
}
