@import '../styles/_mixins';

.news_overview {
    &__wrapper {
        list-style: none;
        height: 100%;
        padding: 0;

        @include break(medium-up) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
            grid-auto-flow: dense;
        }

        .cardItem {
            &--image {
                grid-column-end: span 2;
            }
        }

        &--archive {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1rem;
            grid-auto-flow: dense;

            @include break(medium-up) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include break(large-up) {
                grid-template-columns: repeat(3, 1fr);
            }

            .cardItem__summary {
                margin-bottom: .5rem;
            }
        }
    }
}
