.header-mobile__logo {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 5px;
    img {
        width: 100px;
        height: auto;
    }
}

//------ Off Canvas
.main-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    .header-mobile__logo {
        position: relative;
        padding: 5px 0 18px 0;
        border-bottom: 1px solid #292c31;
        top: 0;
        a {
            margin: 0;
            padding: 0;
        }
    }
    li {
        position: relative;
        a {
            border-bottom: 1px solid #292c31;
            color: #fff;
            display: block;
            font-family: "Montserrat", sans-serif;
            font-size: 0.6875rem;
            line-height: 1.5em;
            text-transform: uppercase;
            font-weight: 700;
            padding: 1rem 2rem;
            position: relative;
            text-decoration: none;
            transition: color 0.3s ease;
            &:before {
                background-color: transparent;
                bottom: 0;
                content: "";
                display: block;
                height: auto;
                left: 0;
                position: absolute;
                top: 0;
                transition: background-color 0.3s ease;
                width: 4px;
                z-index: -1;
            }
            &.active,
            &:hover {
                &:before {
                    background-color: var(--color-green-dark);
                }
            }
        }
    }
    .main-nav__item--social-links {
        text-align: center;
        a {
            color: var(--color-green);
            display: inline-block;
            border-bottom: none;
            padding: 13px;
            &::before {
                display: none;
            }
        }
    }
}

.page-header {
    background: var(--color-black);
    position: relative;
}

.header--desktop {
    background: var(--color-black);
    position: relative;
}

.main-nav {
    line-height: 2em;
    text-align: right;
}

.main-nav__list--desktop {
    justify-content: flex-end;
    display: inline-block;
    text-align: left;
    padding: 0;
    margin: 0;
    list-style: none;
    >li {
        display: inline-block;
        text-align: center;
        >a {
            background: none;
            padding: 0 1.666em;
            display: block;
            position: relative;
            color: #fff;
            line-height: 3.875rem;
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
            font-size: .75rem;
            font-weight: 700;
            font-style: normal;
            text-transform: uppercase;
            transition: color 0.3s ease;
        }
    }
    &.dropdown {
        >li {
            >a {
                background: none;
                padding: 0 1.666em;
            }
        }
    }
}

.header__secondary {
    background: var(--color-black);
    text-align: right;
}

.header__primary {
    background: var(--color-black);
    position: relative;

    &:after {
        background: var(--color-gray-dark);
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50%;
    }
}

.header__primary-inner {
    background-color: var(--color-gray-dark);
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 210px;
        background-color: #1e2024;
        left: -25px;
        margin-left: 0;
        transform: skew(-25deg);
    }
    .header-logo {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        img {
            height: auto;
            position: relative;
            width: 150px;
        }
    }
}

.main-nav__list {
    .is-accordion-submenu {
        background-color: var(--color-gray-dark);
        box-shadow: inset 0 7px 9px -7px var(--color-black), inset 0 -7px 9px -7px var(--color-black);
        a {
            border-bottom-color: var(--color-gray-medium);
            &:hover,
            &.active {
                color: var(--color-green-dark);
            }
        }
        li:last-child {
            a {
                border-bottom: none;
            }
        }
    }
}

.header--mobile {
    height: 80px;
    width: 100%;
    position: relative;
    background-color: var(--color-black);
    .menu-icon {
        left: 34px;
        position: absolute;
        top: calc((80px - 16px) / 2);
    }
}
.sponsors--header {
    border: 1px solid red;
    height: 100px;
    width: 100%;
}
