.player-detail--share {
    width: 1080px;
    height: 1920px;
    overflow: hidden;
    background-image: url("../images/share-instagram-bg2.jpg");
    position: relative;

    .player-detail__bg-shirt-number {
        color: rgba(255, 255, 255, 0.25);
        font-size: 500px;
        top: 60px;
        right: 60px;
        left: auto;
    }

    .player-detail__name {
        text-align: right;
        top: 350px;
        right: 60px;
    }

    .player-detail__name-first {
        font-size: 48px;
        color: rgba(255, 255, 255, 0.5);
    }

    .player-detail__name-last {
        color: rgba(255, 255, 255, 1);
        font-size: 64px;
    }

    .player-detail__bg--fallback {
        opacity: 0.5;
        height: 2100px;
        width: auto;
        max-width: unset;
        position: absolute;
        left: -200px;
        bottom: 0;
    }

    .player-detail__bg-avatar {
        height: 1920px;
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        background-size: 1080px 1920px;
        background-position: top;
    }

    .bg-green-mask {
        background-image: linear-gradient(175deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, #FFF 40.1%, #FFF 46%, rgb(4, 130, 51) 46.1%, rgb(4, 130, 51) 100%);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: auto;
        overflow: hidden;
        padding-top: 400px;
        z-index: 999;
    }

    .player-detail--share__details {
        margin-top: 500px;
        text-align: center;
        position: relative;
    }

    .player-detail--share__title {
        display: block;
        font-family: var(--font-title);
        font-size: 150px;
        font-weight: bold;
        color: #FFF;
        margin-right: 60px;
        z-index: 10;
        line-height: 1;
        z-index: 9999;
        position: absolute;
        left: 60px;
        top: 150px;
    }

    .player-detail--share__score {
        display: block;
        font-size: 200px;
        color: #FFF;
        line-height: 1;
        font-weight: 900;
        z-index: 999;
        top: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        margin-top: 1rem;
    }

    .player-detail--share__match {
        display: block;
        font-family: var(--font-title);
        font-size: 40px;
        font-weight: bold;
        color: #FFF;
        line-height: 1;
        z-index: 999;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .player-detail--share__assist {
        display: block;
        font-family: var(--font-title);
        font-size: 20px;
        font-weight: bold;
        color: #FFF;
        text-align: right;
        margin-right: 60px;
        line-height: 1;
    }

    .player-detail__footer {
        position: absolute;
bottom: 0;
right: 0;
z-index: 99999;
    }
}
