@function textShadow($precision, $size, $color) {
  $value: null;
  $offset: 0;
  $length: $size * calc(1 / $precision) - 1;

  @for $i from 0 through $length {
    $offset: $offset + $precision;
    $shadow: (-1 * $offset) + px $offset + px $color;
    $value: append($value, $shadow, comma);
  }

  @return $value;
}

.player__share {
  width: 1080px;
  height: 1920px;
  overflow: hidden;
  background: var(--color-green--bright);
  background-image: url('../images/header-pattern.png');
  background-repeat: no-repeat;
  // background-image: url("../images/share-instagram-bg2.jpg");
  position: relative;

  // .player-detail__bg-shirt-number {
  //   color: rgba(255, 255, 255, 0.25);
  //   font-size: 500px;
  //   top: 60px;
  //   right: 60px;
  //   left: auto;
  // }

  // .player-detail__name {
  //   text-align: right;
  //   top: 350px;
  //   right: 60px;
  // }

  // .player-detail__name-first {
  //   font-size: 48px;
  //   color: rgba(255, 255, 255, 0.5);
  // }

  // .player-detail__name-last {
  //   color: rgba(255, 255, 255, 1);
  //   font-size: 64px;
  // }

  .player-detail__bg--fallback {
    opacity: 0.5;
    height: 2100px;
    width: auto;
    max-width: unset;
    position: absolute;
    left: -200px;
    bottom: 0;
    z-index: 3;
  }

  .player-detail__bg-avatar {
    height: 1920px;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    right: 0;
    text-align: center;
    z-index: 5;
    background-size: 1080px 1920px;
    background-position: top;
    background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='563'%20height='1000'%20viewBox='0%200%20563%201000'%20preserveAspectRatio='none'%3e%3cpath%20d='M225%20353c-20%208-42%2029-47%2045l-1%2024v44l-3%201c-4%202-5%207-4%2011l2%209c5%2019%2011%2033%2016%2035%204%202%204%204%205%2014l2%2014c3%2010%202%2014-4%2010l-4-2c-2%200-6%206-7%209l-2%205-1%2010v7l-5%202c-5%203-6%204-12%2014-2%203-7%205-13%205-4%200-14%206-21%2013l-8%205-10%206-12%207c-13%207-28%2019-33%2027-7%209-9%2014-10%2019l-2%207c-2%203-2%205-2%2025%200%2021%200%2022%203%2027%203%206%205%2018%203%2028-2%207-1%2013%201%2017%202%203%205%2014%205%2018l1%208c6%2018%208%2030%208%2041%200%207%200%208%207%2015l4%207c-3%208-2%2011%204%2016l6%208%205%207%205%2021c1%206%200%205%2013%2016l4%208%206%2010c11%2012%2013%2017%2010%2024l-2%207v3h300l-1-21a674%20674%200%2000-2-59l11-2%2016-3c14-5%2023-7%2033-9%2015-2%2020-6%2021-16a2207%202207%200%20014-44c0-14%200-15%201-13%201%201%201%201%201-1l-3-5c-2-2-3-3-3-13l-3-17-6-26-8-14-8-14c-1-5-2-8-6-11-3-3-3-4-3-9%200-6%200-6-3-9-3-2-4-4-4-5l-7-21-2-9c0-8-2-12-5-15-4-4-10-15-12-23-1-4-2-6-5-8l-8-7c-3-3-6-4-10-6l-9-2a284%20284%200%2000-27-9c-12-4-15-5-20-5l-9-2-9-3c-9-4-30-27-30-35l1-11c2-11%205-51%204-59a195%20195%200%20016-72c0-7%200-7-3-12-5-8-7-11-7-17-1-7-2-8-8-12l-5-4-5-5c-5-6-15-12-28-16l-9-4h-17l-20%201'%20fill='%231E2024'%20fill-rule='evenodd'/%3e%3c/svg%3e");
  }

  .player-detail--share__details {
    position: absolute;
    width: 100%;
    top: 23rem;
    z-index: 4;
  }

  .player-detail--share__title {
    display: block;
    font-family: var(--font-alt);
    font-size: 15rem;
    font-weight: bold;
    color: #FFF;
    line-height: 1;
    position: absolute;
    // margin-right: 60px;
    // z-index: 4;
    // margin-top: 5px;
    // width: 100%;
    // top: 35rem;
    // text-align: center;

    z-index: 0;
    top: 4rem;
    right: 0;
    text-transform: uppercase;
    opacity: .85;

    text-shadow: textShadow(0.5, 1250, var(--color-green--dark));

    @supports (-webkit-text-stroke: 4px var(--color-green--dark)) {
      color: #FFF;
      -webkit-text-stroke: 4px var(--color-green--dark);
      -webkit-text-fill-color: #FFF;
      // mix-blend-mode: darken;
      transition: all .3s ease;
    }
  }

  .player-detail--share__score {
    display: block;
    font-size: 200px;
    color: #FFF;
    line-height: 1;
    font-weight: 900;
    z-index: 999;
    top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
  }

  .player-detail--share__match {
    display: block;
    font-family: var(--font-title);
    font-size: 40px;
    font-weight: bold;
    color: #FFF;
    line-height: 1;
    z-index: 999;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  // .player-detail--share__assist {
  //   display: block;
  //   font-family: var(--font-title);
  //   font-size: 20px;
  //   font-weight: bold;
  //   color: #FFF;
  //   text-align: right;
  //   margin-right: 60px;
  //   line-height: 1;
  // }

  // .player-detail__footer {
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  //   z-index: 99999;
  // }

  .player__share__goals__wrapper {
    position: absolute;
    overflow: hidden;
    top: 25rem;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .player-detail--share__score__random {
    position: absolute;
    font-size: 10px;
    color: var(--color-green--dark);
    text-transform: uppercase;
    font-weight: bolder;
    z-index: 1;
  }

  @for $i from 1 through 1000 {
    .player-detail--share__score__random:nth-child(#{$i}) {
      top: random(1520) + px;
      left: random(900) + px;
      opacity: random();
      font-size: random(15) + rem;
    }
  }

  .player__detail__name {
    margin-bottom: .75rem;
    width: 70%;
    font-weight: 800;
    line-height: .93;
    position: absolute;
    left: 10rem;
    top: 5rem;
    z-index: 2;
    // word-break: break-word;
    // color: var(--color-black);
  }

  .player__detail__name_first {
    font-family: var(--font-title);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 4.5rem;
  }

  .player__detail__name_last {
    display: block;
    font-family: var(--font-title);
    // line-height: .91;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 6rem;
  }

  .player__detail__shirt_number {
    position: absolute;
    top: 1rem;
    left: 1rem;
    max-width: 10px;
    margin-top: 10px;
    color: var(--color-green--dark);
    font-family: var(--font-alt);
    letter-spacing: -6px;
    line-height: 0.75;
    text-shadow: textShadow(0.5, 350, var(--color-green--dark));
    z-index: 0;
    margin-top: 5px;
    font-size: 25rem;
    opacity: 0.85;

    @supports (-webkit-text-stroke: 4px var(--color-green--dark)) {
      color: #FFF;
      -webkit-text-stroke: 4px var(--color-green--dark);
      -webkit-text-fill-color: #FFF;
      // mix-blend-mode: darken;
      transition: all .3s ease;
    }

  }
}
