@import '../styles/mixins';

.team-ranking__wrapper {
    margin: 0 .25rem 2rem;
    position: relative;
    z-index: 2;

    @include break(large-up) {
        margin: 0 1rem 2rem;
    }

    @include break(xlarge-up) {
        margin: 0 14% 2rem;
    }
}

.team-ranking {

    font-size: .85rem;

    @include break(medium-up) {
        font-size: 1rem;
    }

    &__table {
        border: 1px solid rgba(0, 0, 0, .1);

        tbody,
        thead {
            border: 0;
        }
    }

    &__header {}

    &__row {}

    &__column {
        &--number {
            text-align: center;
        }

        &--string {}

        &--ranking {
            text-align: left;
        }

        &--team {}

        &--goals-pro,
        &--goals-against,
        &--goals-difference {
            display: none;

            @include break(medium-up) {
                display: table-cell;
            }
        }

        &--points {
            text-align: right;
        }
    }

    &__winner {
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: -13px;
            top: 50%;
            width: 0;
            height: 0;
            border-left: 6px solid var(--color-green-dark);
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            transform: translateY(-50%);
        }
    }
}
