@import '../styles/_mixins';

.related_news__wrapper {
  margin: 0 .25rem 2rem;
  position: relative;

  @include break(large-up) {
    margin: 0 1rem 2rem;
  }

  @include break(xlarge-up) {
    margin: 0 14% 2rem;
  }
}

.related_news__items {
  height: 100%;
  padding: 0;

  @include break(medium-up) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-auto-flow: dense;
  }

  @include break(large-up) {
    grid-template-columns: repeat(3, 1fr);
  }

  .cardItem__summary {
    padding-bottom: .001rem;
  }
}
