.scheurkalender__wrapper {
  width: 100%;
  max-width: 1900px;
  margin: 5rem auto;
  background-color: #FFF;

  .match__teaser__series {
    font-size: 2.25em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }

  .match__teaser__datetime {
    color: var(--color-gray--medium);

    &--date {
      display: block;
      font-size: 2.5em;
      text-align: center;
    }

    &--time {
      display: block;
      font-size: 3em;
      text-align: center;
      font-weight: 900;
      margin-top: -1.5rem;
    }
  }

  .match__teaser__team {
    font-size: 4em;

    >img {
      max-width: 300px;
      display: block;
      flex: 1 0 300px;
    }
  }

  .match__teaser__vs {
    font-size: 3em;
    margin-top: 9px;
  }


  .match__teaser__logo {
    width: 300px;
  }

  .match__teaser__series {
    color: var(--color-gray--medium);
    margin-bottom: .4em;
  }
}

.scheurkalender__wrapper {
  .match__teaser__team {
    flex-direction: row;
    font-size: 2.875rem;
    width: 49%;
    justify-content: space-between;
    line-height: 1;

    &--home {
      text-align: right;
    }

    &--away {
      text-align: left;
    }
  }

  .match__teaser__logo {
    width: 300px;
    height: auto;
  }

  .lazyload-wrapper,
  .LazyLoad {
    height: auto;

    img {
      max-height: unset;
      height: auto;
    }
  }

  .match__teaser {
    margin-bottom: 6em;

    header {
      margin-bottom: -5rem;
    }
  }
}
