@import '../styles/mixins';

.team_stats {

  &__team,
  &__players {
    margin: 0 .25rem 2rem;
    position: relative;
    z-index: 2;

    @include break(large-up) {
      margin: 0 1rem 2rem;
    }

    @include break(xlarge-up) {
      margin: 0 14% 2rem;
    }

    table {
      font-size: .75em;

      td, th {
        padding: 0.25rem 0.3125rem 0.3125rem;

        @include break(medium-up) {
          padding: 0.5rem 0.625rem 0.625rem;
        }
      }

      @include break(medium-up) {
        font-size: 1em;
      }
    }
  }

  &__team {
    .card__content {
      display: block;

      @include break(large-up) {
        display: grid;
        grid-gap: .5em;
        grid-template-columns: repeat(4, 1fr);
      }

      span:not(.team_stats__streak) {
        display: block;
      }
    }
  }
}

.team_stats__streak {
  color: #FFF;
  display: inline-block;
  font-weight: bold;
  padding: .25em;
  width: 2em;
  text-align: center;

  &--won {
    background: #8dba62;
  }

  &--equal {
    background: #ffcb1e;
  }

  &--lost {
    background: #ff5538;
  }
}

.team_stats__label {
  font-weight: bold;
  min-width: 150px;
}

.team_stats__list {
  list-style: none;
  margin-bottom: 0;
  margin-left: 15px;

  li {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -13px;
      top: 1em;
      width: 0;
      height: 0;
      border-left: 6px solid var(--color-green-dark);
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      transform: translateY(-50%);
    }
  }
}
