@import '../styles/mixins';

.team-calendar-meta-matches {
    margin: 0 .25rem 2rem;
    position: relative;
    z-index: 5;

    @include break(large-up) {
        margin: 0 1rem 2rem;
    }

    @include break(xlarge-up) {
        margin: 0 14% 2rem;
    }

    @include break(medium-up) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}
