@import '../styles/mixins';

.team-calendar-meta-matches {
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;

    @include break(medium-up) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}
