@import '../styles/mixins';

.team__stats__detail {
  margin: 0 .25rem 2rem;
  position: relative;
  z-index: 2;

  @include break(large-up) {
    margin: 0 1rem 2rem;
  }

  @include break(xlarge-up) {
    margin: 0 14% 2rem;
  }
}

.team__stats__table {
  margin: 0;
  padding: 0;
  border: 0;
}

.team__stats__column {
  &--string {
    @include break(large-up) {
      text-align: left;
    }
  }

  &--number,
  &--score {
    @include break(large-up) {
      text-align: center;
    }
  }
}

.team__stats__header_icon {
  height: 1em;
}

.team__stats__detail--stats {
  .card__content {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 3fr;
  }
}

.team__stats--label {
  font-weight: bold;
  width: 25%;
  min-width: 250px;
}

.team__stats__streak {
  color: #FFF;
  display: inline-block;
  font-weight: bold;
  padding: .25em;
  width: 2em;
  text-align: center;

  &--won {
    background: #8dba62;
  }

  &--equal {
    background: #ffcb1e;
  }

  &--lost {
    background: #ff5538;
  }
}
