@mixin readmore-link {
    a {
        display: block;
        text-align: right;
        &:after {
            display: inline-block;
            content: url('../images/arrow-dark.svg');
            margin: 0 .25em;
            height: 1em;
                transform: translateX(0);
                width: 1em;
                transition: all .25s ease-out;
        }

        &:hover {
            &:after {
                transform: translateX(2px);
            }
        }
    }
}
