@mixin playerHighlightLarge {
    display: grid;
    grid-template-columns: 1fr 2fr;

    &__bg {
        border-radius: 4px 0 0 4px;
        width: 75%;
    }

    &__name {
        &-shirt-number {
            margin-left: -.25em;
        }

        &-name {
            margin-left: -3.5em;

            &--first {
                font-size: 1.5rem;
            }

            &--last {
                font-size: 2.5rem;
            }
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-bottom: 0;
    }

    &__stats {
        margin-left: 0;
        flex-wrap: nowrap;

        &-item {
            flex: 1;
            margin: 0;
        }
    }
}

.component_header {
    border: 1px solid #FFF;
    border: 1px 0 1px;
    margin: 1.5em 0;
    padding: 1.5em 0;
    text-align: center;
}

.player,
.team {
    &-detail {
        background: #edeff4;
        width: 100%;
        position: relative;

        &__name {
            position: absolute;
            z-index: 10;
            right: 1rem;
            top: 1.5rem;

            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            letter-spacing: -0.02px;
            line-height: 0.9;
            text-align: right;
            text-transform: uppercase;

            @media (min-width: 992px) {
                top: 13rem;
            }

            @media (min-width: 1480px) {
                right: 15%;
            }

            &-first,
            &-division {
                display: block;

                color: #31404B;
                font-size: 1rem;

                @media (min-width: 768px) {
                    font-size: 1.5rem;
                }
            }

            &-last,
            &-tagline {
                color: #FFF;
                font-size: 1.5rem;

                display: block;
                text-align: right;

                @media (min-width: 768px) {
                    font-size: 2rem;
                }
            }
        }

        &__bg-shirt-number {
            position: absolute;
            left: .25rem;
            top: .25rem;
            z-index: 3;

            color: rgba(255, 255, 255, 0.25);

            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 8rem;
            line-height: 0.7;
            letter-spacing: -0.04px;

            user-select: none;

            @media (min-width: 768px) {
                font-size: 13.75rem;
            }

            @media (min-width: 992px) {
                top: 5rem;
                left: auto;
                right: 1rem;

                text-align: right;
            }

            @media (min-width: 1480px) {
                right: 14%;
            }
        }

        &__bg-avatar {
            position: absolute;
            top: 5.875rem;
            right: 0;
            bottom: 0;
            left: 0;
            background-size: contain;
            background-position: center bottom;
            background-repeat: no-repeat;
            text-align: center;
            z-index: 5;

            @media (min-width: 767px) {
                top: 4rem;
            }

            @media (min-width: 992px) {
                top: 3rem;
            }

            @media (min-width: 1200px) {
                top: 2rem;
            }
        }

        &__statistics {
            padding: 425px 4rem 4rem 4rem;

            color: #31404B;
            font-family: 'Montserrat', sans-serif;
            line-height: 0.9;
            text-transform: uppercase;
            text-align: center;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2em 1em;

            @media (min-width: 992px) {
                padding-top: 4rem;

                color: #fff;
                line-height: 1;

                position: absolute;
                left: 25%;
                top: 198px;
                transform: translate(-50%, -50%);
                z-index: 4;

                grid-template-columns: 1fr;

            }

            &-item {
                &__number {
                    font-size: 2.5rem;
                    font-weight: bold;
                    min-width: 3rem;
                }

                &__label {
                    color: #9A9DA2;

                    @media (min-width: 992px) {
                        color: #FFF;

                    }
                }
            }

        }

        &__data {
            width: 100%;
            max-width: 60em;
            margin: 0 auto;
            padding: 1em;

            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            text-transform: uppercase;

            display: grid;
            grid-template-rows: repeat(3, auto);

            @media (min-width: 992px) {
                align-items: center;
                justify-items: center;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(3, 1fr);
                width: 100%;
            }

            &-item {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;

                @media (min-width: 992px) {
                    grid-template-columns: 1fr;
                }

                &__label {
                    color: #31404B;
                    font-size: 0.5rem;
                }

                &__data {
                    color: #4B9B48;
                    font-size: 1.5rem;
                    justify-self: end;
                }

                &--birthdate {}

                &--position {
                    color: #31404B;
                    font-size: 1.875rem;
                    text-align: center;

                    display: block;
                    margin-bottom: 1em;
                    grid-row: 1;

                    @media (min-width: 992px) {
                        font-size: 1.5rem;

                        grid-column: 2;
                        margin-bottom: 0;
                    }
                }

                &--joindate {}
            }
        }
    }
}

@media (min-width: 992px) {
    .player-break {
        display: block;
        padding-top: 410px;
    }
}

.team-break {
    display: block;
    padding-top: 8rem;

    @media (min-width: 992px) {
        padding-top: 14rem;
    }
}

.player-highlight {
    border-radius: 4px;
    background: #FFF;

    &__header {
        position: relative;
        height: 283px;
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: contain;
        background-position: center bottom;
        background-repeat: no-repeat;
        text-align: center;
        z-index: 5;
    }

    &__bg {
        border-radius: 4px 0 0;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin-left: 0;
        width: 75%;
        background-image: linear-gradient(104deg, #4B9B48 0%, rgba(75, 155, 72, 0.50) 300%);

        color: hsla(0, 0%, 100%, .1);
        font-size: 150px;
        line-height: 1em;

        &::before {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
            height: 0;
            border-bottom: 283px solid #fff;
            border-left: 30px solid transparent;
        }
    }

    &__name {
        align-items: center;
        display: flex;
        flex-direction: row;

        &-shirt-number {
            color: rgba(154, 157, 162, 0.12);
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 6.875rem;
            line-height: 1;

            user-select: none;

            margin-left: 2.5rem;
        }

        &-name {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            line-height: 1;

            margin-left: -5rem;

            &--first {
                color: #31404B;
                font-size: 1rem;
            }

            &--last {
                color: #4B9B48;
                font-size: 1.5rem;
            }
        }
    }

    &__main {
        padding-bottom: 2em;
    }

    &__stats {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 1em 2em;

        &-item {
            flex: 0 50%;
            margin-bottom: 1em;

            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            line-height: 1;
            text-transform: uppercase;

            &__number {
                color: #31404B;
                font-size: 2rem;
            }

            &__label {
                color: #9A9DA2;
                font-size: 0.8125rem;
                font-weight: 100;
            }
        }
    }
}

.player-highlight--large {
    .player-highlight {
        @media (min-width: 992px) {
            @include playerHighlightLarge;
        }
    }
}


.bg-green-mask {
    background-image: linear-gradient(104deg, #4B9B48 0%, rgba(75, 155, 72, 0.50) 300%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    padding-top: 396px;
    z-index: 2;
}

.bg-white-end {
    background: #edeff4;
    width: 10000px;
    min-width: 1440px;
    height: 10000px;
    position: absolute;
    left: 0;
    right: 0;
    top: -110px;
    z-index: 4;
    transform: rotate(-6deg);

    @media (min-width: 992px) {
        transform: rotate(-2deg);
        top: 220px;
    }
}

.team {
    &-detail {
        position: relative;

        &__header {}

        &__name {

            @media (min-width: 992px) {
                left: 1rem;
                right: auto;
                text-align: left;
                top: 7.5rem;
            }

            @media (min-width: 1480px) {
                left: 15%;
            }

            &-last {
                text-align: left;
            }
        }

        &__division-number {
            position: absolute;
            left: .25rem;
            top: .25rem;
            z-index: 3;

            color: rgba(255, 255, 255, 0.25);

            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 8rem;
            line-height: 0.7;
            letter-spacing: -0.04px;

            user-select: none;

            @media (min-width: 768px) {
                font-size: 13.75rem;
            }

            @media (min-width: 992px) {
                top: 1rem;
                left: 1rem;

                text-align: left;
            }

            @media (min-width: 1480px) {
                left: 14%;
            }
        }

        &__lineup {
            margin: 0 .25rem;
            position: relative;
            z-index: 5;

            @media (min-width: 992px) {
                margin: 0 1rem;
            }

            @media (min-width: 1480px) {
                margin: 0 14%;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 1rem;

                list-style: none;
                margin: 0;
                padding: 0;

                @media (min-width: 992px) {
                    grid-template-columns: repeat(4, 1fr);
                }

                @media (min-width: 1480px) {
                    grid-template-columns: repeat(6, 1fr);
                }
            }

            &-item {
                border: 1px solid #ababab;
                padding: 1rem;
                position: relative;

                &::before {
                    display: block;
                    content: " ";
                    width: 100%;
                    padding-top: 100%;
                }
            }

            &-teaser {
                position: absolute !important;
                height: 100%;
                overflow: hidden;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;

                    &:hover {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            &-image {
                width: 100%;
                height: 100%;
                position: relative;

                background-color: rgba(255, 255, 255, 0.25);
                background-repeat: no-repeat;
                background-position: center;

                img {
                    max-width: 100%;
                    transform: scale(1);
                    transition: transform .5s cubic-bezier(0.19, 1, .22, 1);

                }
            }

            &-gradient {
                background: rgba(255, 255, 255, 0);
                background: linear-gradient(185deg, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, 0.75) 80%);
                height: 70%;
                bottom: 0;
                height: 100%;
                overflow: hidden;
                position: absolute;
                width: 100%;
                z-index: 98;
            }

            &-info {
                bottom: 0;
                padding: 0 1rem 1rem;
                position: absolute;
                width: 100%;
                z-index: 99;

                color: #FFF;
                font-family: 'Montserrat', sans-serif;
                font-size: 0.875rem;
                font-weight: bold;
                line-height: 1rem;
                text-transform: uppercase;

                &__number {
                    margin-bottom: 1rem;
                    position: relative;

                    &::after {
                        border-top: 2px solid #4B9B48;
                        position: absolute;
                        width: 24px;
                        bottom: -8px;
                        left: 0;
                        content: '';
                    }
                }

                &__firstname,
                &__lastname {
                    font-size: 1rem;
                    line-height: 1.2rem;

                    @media (min-width: 992px) {
                        font-size: 1.5rem;
                        line-height: 1.8125rem;

                    }
                }
            }

        }

        .team-detail__lineup-section {
            margin-top: 3rem;

            &:first-of-type {
                margin-top: 0;
            }
        }

        h2 {
            font-size: 1rem;

            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
            box-shadow: 0 2px 4px -4px #4B9B48;
            margin: 1rem 0;
            padding-bottom: 0.625rem;

            @media (min-width: 992px) {
                font-size: 1.5rem;
            }
        }
    }

    &-sub_navigation {
        position: relative;
        z-index: 9;

        &__tabs {
            background: transparent;
            border: none;
            list-style: none;

            display: flex;
            flex-direction: row;
            margin: 0 .25rem 2rem;

            @media (min-width: 992px) {
                margin: 0 1rem 2rem;
            }

            @media (min-width: 1480px) {
                margin: 0 14% 2rem;
            }

            &::before {
                display: table;
                content: ' ';
                flex-basis: 0;
                order: 1;
            }

            &::after {
                display: table;
                content: ' ';
                flex-basis: 0;
                order: 1;
                clear: both
            }

            li {
                float: none;
                margin-right: 1.5em;

                &::last-of-type() {
                    margin-right: 0;
                }

                a {
                    background: inherit;
                    color: #FFF;
                    font-size: 1rem;
                    text-transform: uppercase;

                    padding: 0 0 .5em;

                    &[aria-selected='true'] {
                        background: none;
                        color: #FFF;
                        border-bottom: 1px solid #fff;
                    }

                    &:hover {
                        background: none;
                        color: #FFF;
                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
}

.tabs-panel {
    padding: 0;
}

.tabs-content {
    background: transparent;
    border: none;
    color: inherit;
}

.feature_carrousel {
    height: auto;
    margin: 0 auto;
    position: relative;

    &__cover_wrapper {
        background-position: center center;
        background-size: cover;
        position: relative;
    }

    &__gradient {
        background: rgba(26, 26, 26, .35);
        height: 100%;
        z-index: 4;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &__content {
        color: #FFF;
        margin: 0 .25rem;
        padding: 3rem 0;
        position: relative;
        z-index: 5;

        @media (min-width: 992px) {
            margin: 0 1rem;
            padding: 5rem 0;
        }

        @media (min-width: 1480px) {
            margin: 0 14%;
        }
    }

    &__articles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;

        list-style: none;
        margin: 3rem 0 0;
        padding: 0;

        @media (min-width: 992px) {
            grid-template-columns: repeat(4, 1fr);
        }

        article {
            background: #FFF;
            color: #0a0a0a;

            align-content: flex-start;
            border: 1px solid #ababab;
            display: grid;
            position: relative;

            a {
                color: inherit;
            }

            header {}

            main {
                padding: 1rem 1rem 5rem;

                h3 {
                    font-size: 1.25rem;
                    margin-bottom: 8px;
                    line-height: 1.3;
                }
            }

            footer {
                padding: 1rem;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }
}
