@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700');
@import '~foundation-sites/scss/util/util';
@import './settings';
@import './mixins';
@import '~foundation-sites/scss/foundation';
@import './vendor_font_fa';
@import './vendor_font_simple_lines';
@include foundation-everything;
.button--back {
    width: 49px;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 8'%3E%3Cpath transform='translate(-238.75 -17.75)' fill='%23fff' d='M240,21h12v2H240V21Zm0.171-.415,4.243,4.243L243,26.242,238.757,22Zm4.243-1.414-4.243,4.242L238.757,22,243,17.757Z'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 13px 8px;
    outline: none;
    &:hover {
        cursor: pointer;
    }
}

.screenreader {
    position: absolute!important;
    left: -10000px;
    top: auto;
    top: initial;
    width: 1px;
    height: 1px;
    overflow: hidden;
    }

.label {
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.posts__cat-label {
    .post__category--club & {
        background-color: var(--color-category-club);
    }
    .post__category--team & {
        background-color: var(--color-category-team);
    }
    .post__category--transfer & {
        background-color: var(--color-category-transfer);
    }
    .post__category--interview & {
        background-color: var(--color-category-interview);
    }
    .post__category--youth & {
        background-color: var(--color-category-youth);
    }
    .post__category--event & {
        background-color: var(--color-category-event);
    }
}

.page-heading__title,
.posts__title {
    text-transform: uppercase;
    letter-spacing: -0.02em;
    a {
        color: #fff;
    }
    strong {
        color: var(--color-green);
    }
}

.post-datetime {
    font-size: 0.9em;
}

.site-content {
    padding-bottom: 3.75rem;
    padding-top: 3.75rem;
}

.posts__item--card {
    .posts__thumb {
        margin: 0;
        float: none;
        overflow: hidden;
        border-radius: 4px 4px 0 0;
        transform: translate3d(0, 0, 0);
        position: relative;
        img {
            width: 100%;
            height: auto;
            transition: all 0.5s !important;
            backface-visibility: hidden;
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
    .posts__cat {
        display: block;
        position: absolute;
        left: 23px;
        bottom: 23px;
        z-index: 1;
    }
    .posts__cat-label {
        float: left;
        padding-top: 0.6em;
    }
    .posts__inner {
        padding-top: 1.125rem;
    }
    .posts__date {
        font-size: 0.6875rem;
        line-height: 1.2em;
        &+.posts__title {
            margin-top: 0.3125rem;
            @media (min-width: 992px) {
                margin-top: 0.625rem;
            }
        }
        .posts__title {
            line-height: 1em;
            margin-bottom: 0.2em;
        }
    }
    .posts__excerpt {
        color: var(--color-gray-light);
        font-size: 0.9375rem;
        padding: 0.8125rem 0 0 0;
        @media (min-width: 992px) {
            padding: 1.4375rem 0 .5rem 0;
        }
    }
}

.posts__date {
    border-bottom: 1px solid var(--color-green-dark);
    display: inline-block;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    line-height: 1.2em;
    padding-bottom: .625rem;
}

.posts__title {
    letter-spacing: -0.03em;
    a {
        color: var(--color-gray-blue);
        line-height: 1em;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: var(--color-gray-blue-hover);
        }
    }
}

.card__content,
.card__footer {
    padding: 1rem;
}

.card__header {
    text-transform: uppercase;
    padding: 27px 23px;
    border-radius: 4px 4px 0 0;
    position: relative;
    border-bottom: 1px solid #e4e7ed;
    overflow: hidden;
    background-color: transparent;
    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 6px;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: var(--color-green);
        border-radius: 3px 0 0 0;
    }
    h4 {
        line-height: 1;
        margin: 0;
        padding: 0;
    }
}

.card__footer {
    margin-top: -1rem;
    padding-top: 0;
    @include readmore-link;
}

.widget__filter {
    border-bottom: 1px solid #e4e7ed;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    li {
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: center;
    }
    .tabs-title {
        a {
            color: var(--color-gray-medium);
            border-radius: 0;
            font-size: .6875rem;
            line-height: 1.5em;
            font-family: Montserrat, sans-serif;
            text-transform: uppercase;
            padding: 12px 6px;
            font-weight: 700;
            letter-spacing: -.02em;
            transition: color .2s ease-in-out;
            &[aria-selected='true'] {
                background: none;
                color: var(--color-green-dark);
            }
            &:hover {
                color: var(--color-green-dark);
            }
        }
    }
}

.card--kcvvtv {
    iframe {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

.img-holder {
    width: 100%;
    float: left;
    height: auto;
    position: relative;
    &:before {
        display: block;
        content: " ";
        width: 100%;
        padding-top: 42.55319%;
    }
    img {
        float: left;
        max-width: 100%;
    }
}

.video--bg {
    position: relative;
    width: 100%;

    min-height: 5rem;
    font-size: 1.5rem;
    @media (min-width: 767px) {
        font-size: 1.75rem;
    }
    @media (min-width: 992px) {
        font-size: 2.25rem;
    }
    @media (min-width: 1200px) {
        font-size: 3rem;
    }

    video {
        display: block;
        width: 100%;
        height: auto;
    }
}

.video--content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(#4B9B48, 0.75);
    background: repeating-linear-gradient( -45deg, transparent, transparent 5px, rgba(#4B9B48, 0.5) 5px, rgba(#4B9B48, 0.5) 10px), linear-gradient( to bottom, rgba(#4B9B48, 0.5), rgba(#999, 0.5));
    color: #FFF;
    text-align: center;
    min-height: 4rem;

    font-size: 1.5rem;
    @media (min-width: 767px) {
        font-size: 1.75rem;
    }
    @media (min-width: 992px) {
        font-size: 2.25rem;
    }
    @media (min-width: 1200px) {
        font-size: 3rem;
    }

}

ul.posts {
    list-style: none;
    padding: 0;
}

.posts--simple-list {
    margin: 0;
    .posts__item {
        overflow: hidden;
        margin-bottom: 1.125rem;
    }
    .posts__thumb {
        float: left;
        margin: 0 0.625rem 0.625rem 0;
        position: relative;
        width: 150px;
    }
    .posts__cat {
        margin-bottom: .125rem
    }

    .posts__inner {
        margin-left: calc(150px + 0.625rem);
    }
}

ul.posts {
    list-style: none;
    padding: 0;
}

.posts--simple-list {
    margin: 0;
    .posts__item {
        overflow: hidden;
        margin-bottom: 1.125rem;
    }
    .posts__thumb {
        float: left;
        margin: 0 0.625rem 0.625rem 0;
        position: relative;
        width: 150px;
    }
    .posts__cat {
        margin-bottom: .5rem
    }

    .posts__inner {
        margin-left: calc(150px + 0.625rem);
    }
}
