@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro');
@import '~foundation-sites/scss/util/util';
@import './settings';
@import '~foundation-sites/scss/foundation';
@import './vendor_font_fa';
@import './vendor_font_simple_lines';
@include foundation-everything;
.button--back {
    width: 49px;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 8'%3E%3Cpath transform='translate(-238.75 -17.75)' fill='%23fff' d='M240,21h12v2H240V21Zm0.171-.415,4.243,4.243L243,26.242,238.757,22Zm4.243-1.414-4.243,4.242L238.757,22,243,17.757Z'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 13px 8px;
    &:hover {
        cursor: pointer;
    }
}

.label {
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.posts__cat-label {
    .post__category--club & {
        background-color: var(--color-category-club);
    }
    .post__category--team & {
        background-color: var(--color-category-team);
    }
    .post__category--transfer & {
        background-color: var(--color-category-transfer);
    }
    .post__category--interview & {
        background-color: var(--color-category-interview);
    }
    .post__category--youth & {
        background-color: var(--color-category-youth);
    }
    .post__category--event & {
        background-color: var(--color-category-event);
    }
}

.page-heading__title,
.posts__title {
    text-transform: uppercase;
    letter-spacing: -0.02em;
    a {
        color: #fff;
    }
    strong {
        color: var(--color-green);
    }
}

.post-datetime {
    font-size: 0.9em;
}

.site-content {
    padding-bottom: 3.75rem;
    padding-top: 3.75rem;
}

.posts__item--card {
    .posts__thumb {
        margin: 0;
        float: none;
        overflow: hidden;
        border-radius: 4px 4px 0 0;
        transform: translate3d(0, 0, 0);
        position: relative;
        img {
            width: 100%;
            height: auto;
            transition: all 0.5s !important;
            backface-visibility: hidden;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
    .posts__cat {
        display: block;
        position: absolute;
        left: 23px;
        bottom: 23px;
        z-index: 1;
    }
    .posts__cat-label {
        float: left;
        padding-top: 0.6em;
    }
    .posts__inner {
        padding-top: 1.125rem;
    }
    .posts__date {
        font-size: 0.6875rem;
        line-height: 1.2em;
        &+.posts__title {
            margin-top: 0.3125rem;
            @media (min-width: 992px) {
                margin-top: 0.625rem;
            }
        }
        .posts__title {
            line-height: 1em;
            margin-bottom: 0.2em;
        }
    }
    .posts__excerpt {
        color: var(--color-gray-light);
        font-size: 0.9375rem;
        padding: 0.8125rem 0 0 0;
        @media (min-width: 992px) {
            padding: 1.4375rem 0 .5rem 0;
        }
    }
}

.posts__date {
    display: inline-block;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    line-height: 1.2em;
}

.posts__title {
    letter-spacing: -0.03em;
    a {
        color: var(--color-gray-blue);
        line-height: 1em;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: var(--color-gray-blue-hover);
        }
    }
}

.card__content {
    padding: 1.5rem;
}
